<mat-accordion class="category-wrapper">
  <mat-expansion-panel [expanded]="category.parentCategoryId == null">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.categoryName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let categoryLine of category.childrenCategories">
      <app-category [category]="categoryLine"></app-category>
    </div>
    <table aria-labelledby="tableLabel" class='table table-striped'>
      <tr *ngFor="let product of category.products">
        <td>{{product.productName}}</td>
        <td>{{formatMoney(product.pricePerPieceCents)}}</td>
        <td class="actions">
          <button mat-raised-button color="accent">Bewerk product <mat-icon>edit</mat-icon></button>
          <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Verwijder product <mat-icon>remove_circle_outline</mat-icon></button>
        </td>
      </tr>
    </table>
    <mat-divider></mat-divider>
    <div class="actions">
      <div class="expansion-actions">
        <button mat-raised-button  color="primary" (click)="navigateProduct()">Voeg product toe <mat-icon>add_circle_outline</mat-icon></button>
        <button mat-raised-button color="accent" (click)="navigateCreateCategory()">Voeg categorie toe <mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
