<mat-accordion class="category-wrapper">
  <mat-expansion-panel [expanded]="category.parentCategoryId == null">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.categoryName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let categoryLine of category.childrenCategories">
      <app-category [category]="categoryLine"></app-category>
    </div>
    <table aria-labelledby="tableLabel" class='table table-striped'>
      <tr *ngFor="let product of category.products">
        <td>{{product.productName}}</td>
        <td>{{formatMoney(product.pricePerPieceCents)}}</td>
        <td>
          <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Verwijder product</button>
        </td>
      </tr>
    </table>
    <div class="expansion-actions">
      <button mat-raised-button color="primary" (click)="navigateProduct()">Voeg product toe</button>
      <button mat-raised-button color="accent" (click)="navigateCreateCategory()">Voeg categorie toe</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
