bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
**/*.db*
**/credentials.json
**/*.token.json
**/*.token.json/
**/*.token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
KassaDG/token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user

KassaDG/appsettings.json
KassaDG/appsettings.Development.json
**/node_modules

**/*.mp4
**/*.zip
**/.angular
