.expansion-actions {
  margin-top: 2%;
}

.actions {
  float: right;
  padding: 12px;
  min-width: 360px;
}

.actions button {
  margin-left: 2px;
}

.product-table th, .product-table td {
    width: 175px;
}

.product-table td:last-of-type, .product-table th:last-of-type {
  width: 405px;
}
