<mat-accordion>
  <mat-expansion-panel [expanded]="category.parentCategoryId == null">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.categoryName}}
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div *ngFor="let categoryLine of sortCategories(category.childrenCategories)">
      <app-category [category]="categoryLine" [isOrdering]="isOrdering"></app-category>
    </div>
    <table aria-labelledby="tableLabel" class='table table-striped product-table'>
      <thead>
      <tr>
        <th>Product</th>
        <th>Prijs per stuk</th>
        <th>Aantal in voorraad</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of sortProducts(category.products)">
          <td class="conserve-width-medium">{{product.productName}}</td>
          <td>{{product.pricePerPieceCents | formatMoney}}</td>
          <td>{{product.amountInStock}}</td>
          <td>
            <div *ngIf="!isOrdering" class="right">
              <button mat-raised-button color="accent" (click)="navigateEditProduct(product)">Bewerk product <mat-icon>edit</mat-icon></button>
              <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Verwijder product <mat-icon>remove_circle_outline</mat-icon></button>
            </div>
            <div *ngIf="isOrdering">
              <button mat-raised-button color="primary" (click)="addProductToBasket(product)">Toevoegen <mat-icon>add_circle_outline</mat-icon></button>
              <button mat-button (click)="removeProductFromBasket(product)">Verwijderen <mat-icon>remove_circle_outline</mat-icon></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-divider></mat-divider>
    <div class="actions">
      <div *ngIf="!isOrdering" class="expansion-actions">
        <button mat-raised-button color="warn" (click)="deleteCategory()" *ngIf="category.childrenCategories == null && category.products.length === 0">Verwijder categorie <mat-icon>remove_circle_outline</mat-icon></button>
        <button mat-raised-button  color="primary" (click)="navigateCreateProduct()">Voeg product toe <mat-icon>add_circle_outline</mat-icon></button>
        <button mat-raised-button color="accent" (click)="navigateCreateCategory()">Voeg categorie toe <mat-icon>add_circle_outline</mat-icon></button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
