<app-loading *ngIf="!shownAccounts"></app-loading>
<mat-card>
  <mat-card-content>
    <mat-form-field class="search">
      <mat-label>Zoeken</mat-label>
      <input matInput autofocus type="text" (ngModelChange)="searchChanged($event)" [(ngModel)]="search">
      <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''; resetSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matSuffix *ngIf="!search">search</mat-icon>
    </mat-form-field>
    <table *ngIf="shownAccounts" aria-labelledby="tableLabel" class='table table-striped table-hover'>
      <thead>
      <tr>
        <th class="content">Naam</th>
        <th>Saldo</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of shownAccounts" class="{{!account.isActive ? 'disabled' : ''}}">
        <td class="content" (click)="navigateAccount(account)">{{ account.accountName }}</td>
        <td class="action" (click)="navigateAccount(account)">
          <mat-chip-list>
            <app-balance-chip [balanceCents]="account.balanceCents"></app-balance-chip>
          </mat-chip-list>
        </td>
        <td class="action">
          <div class="right">
            <button mat-raised-button color="accent" (click)="navigateAccountHistory(account.id)">Geschiedenis
              <mat-icon>history</mat-icon>
            </button>
            <button *ngIf="isManaging && account.isActive" mat-raised-button color="warn"
                    (click)="deActivateAccount(account)">Deactiveer
              <mat-icon>lock</mat-icon>
            </button>
            <button *ngIf="isManaging && !account.isActive" mat-raised-button color="primary"
                    (click)="activateAccount(account)">Activeer
              <mat-icon>lock_open</mat-icon>
            </button>
            <button *ngIf="isManaging" mat-raised-button color="warn" (click)="deleteAccount(account.id)">
              Verwijder
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="isManaging">
      <tr>
        <td></td>
        <td></td>
        <td>
          <button mat-raised-button color="primary" [routerLink]="['/create-account']">Voeg account toe
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </td>
      </tr>
      </tfoot>
    </table>
  </mat-card-content>
</mat-card>
