<app-loading *ngIf="!shownAccounts"></app-loading>
<mat-card>
  <mat-card-content>
    <mat-form-field class="search">
      <mat-label>Zoeken</mat-label>
      <input matInput autofocus type="text" (ngModelChange)="searchChanged($event)" [(ngModel)]="search">
      <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''; resetSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matSuffix *ngIf="!search">search</mat-icon>
    </mat-form-field>
    <table *ngIf="shownAccounts" aria-labelledby="tableLabel" class='table table-striped'>
      <thead>
      <tr>
        <th class="content">Naam</th>
        <th>Saldo</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of shownAccounts">
        <td class="content" (click)="navigateAccount(account.id)">{{ account.accountName }}</td>
        <td class="action" (click)="navigateAccount(account.id)">
          <mat-chip-list>
            <mat-chip [color]="account.balanceCents < 0 ? 'warn' : 'primary'"
                      selected>{{ formatMoney(account.balanceCents) }}</mat-chip>
          </mat-chip-list>
        </td>
        <td class="action">
          <div class="right">
            <button mat-raised-button color="accent" (click)="navigateAccountHistory(account.id)">Geschiedenis
              <mat-icon>history</mat-icon>
            </button>
            <button *ngIf="showDeleteAccount" mat-raised-button color="warn" (click)="deleteAccount(account.id)">Verwijder
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-raised-button color="primary" [routerLink]="['/create-account']">Voeg account toe
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<mat-checkbox [(ngModel)]="showDeleteAccount">
  Toon verwijder accounts
</mat-checkbox>
