.small-td {
  width: 35%;
}

.balance-td {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 100%;
}

tr.disabled {
  background-color: #454d55 !important;
  color: #ddd;
}

td.content:hover {
  cursor: pointer;
}
