<p *ngIf="!accounts"><em>Loading...</em></p>
<mat-card>
  <mat-card-content>
    <table *ngIf="accounts" aria-labelledby="tableLabel" class='table table-striped'>
      <thead>
      <tr>
        <th>Naam</th>
        <th>Saldo</th>
        <th class="small-td"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of sortAccounts(accounts)">
        <td (click)="navigateAccount(account.id)">{{ account.accountName }}</td>
        <td (click)="navigateAccount(account.id)">{{ formatMoney(account.balanceCents) }}</td>
        <td class="small-td">
          <div class="right">
            <button mat-raised-button color="accent" (click)="navigateAccountHistory(account.id)">Geschiedenis
              <mat-icon>history</mat-icon>
            </button>
            <button mat-raised-button color="warn" (click)="deleteAccount(account.id)">Verwijder
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions [align]="'end'">
    <button mat-raised-button color="primary" [routerLink]="['/create-account']">Voeg account toe
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
