/* You can add global styles to this file, and also import other style files */
@import "theme";

a {
  color: #0366d6;
}

//code {
//  color: #e01a76;
//}
//
//.btn-primary {
//  color: #fff;
//  background-color: #1b6ec2;
//  border-color: #1861ac;
//}

html, body { height: 100%; }
body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}


.table-row-action {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.right {
  float: right;
}

.split-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table .action
{
  width:auto;
  text-align:right;
  white-space: nowrap
}
table .content {
  width: 100%
}

.table td, .table th {
  vertical-align: inherit !important;
}

.mat-mdc-raised-button {
  margin-left: 2px !important;
}

.container {
  max-width: 95%;
}


.conserve-width {
  max-width: 150px;
}

.conserve-width-medium {
  max-width: 230px;
}
