@use 'src/variables' as vars;

.balance {
  background-color: vars.$primary !important;

  color: vars.$light-primary-text !important;

  &--low {
    background-color: vars.$danger !important;
    color: vars.$dark-primary-text !important;
  }

  &--negative {
    background-color: vars.$warn !important;
  }
}
