<div class="order-header">
  <h3>Afrekenen</h3>
  <p><b>Rekening: </b> {{account?.accountName}} ({{formatMoney(account?.balanceCents)}})</p>
</div>
<div class="order">
  <div class="basket">
    <table aria-labelledby="tableLabel" class='table table-striped'>
      <thead>
        <tr>
          <th>Product</th>
          <th>Aantal</th>
          <th>Subtotaal</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let basketContentLine of basketContents">
        <td>
          {{basketContentLine.productName}}
        </td>
        <td>
          {{basketContentLine.amount}}
        </td>
        <td>
          {{calculateSubTotal(basketContentLine)}}
        </td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>Totaal:</td>
          <td>{{calculateTotal()}}</td>
        </tr>
      </tfoot>
    </table>
    <button mat-raised-button color="primary" (click)="order()">Afrekenen <mat-icon>check_circle_outline</mat-icon></button>
    <button mat-raised-button color="warn" (click)="navigateAccounts()">Annuleren <mat-icon>cancel</mat-icon></button>
  </div>
  <app-products [isOrdering]="true"></app-products>
</div>
