<app-loading *ngIf="!account || !orders"></app-loading>
<div *ngIf="account && orders">
  <div class="split-header">
    <h2>Bestelgeschiedenis</h2>
    <p>{{account?.accountName}}</p>
  </div>
  <div>
    <table aria-labelledby="tableLabel" class='table table-striped'>
      <thead>
      <tr>
        <th>Datum</th>
        <th>Bedrag</th>
        <th>Storting</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders" (click)="navigateOrderHistoryItem(order)">
        <td>{{order.orderDate | date:'short'}}</td>
        <td>{{calculateOrderSpent(order.orderLines) | formatMoney}}</td>
        <td>{{order.deposit | formatMoney}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td>Totaal</td>
        <td>{{calculateTotalSpent() | formatMoney}}</td>
        <td>{{calculateTotalDeposit() | formatMoney}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Saldo</td>
        <td>{{account?.balanceCents | formatMoney}}</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <mat-paginator [length]="totalHistoryItems"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10,25,50,100]"
                 (page)="onPageEvent($event)"></mat-paginator>
</div>
